#frontend
frontend/node_modules/
frontend/package-lock.json
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.DS_Store
frontend/.idea/
frontend/.vscode/
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

#backend
backend/node_modules
backend/package-lock.json
backend/.env.local
.DS_Store

./node_modules
./package-lock.json
./.env.local
./package.json