$font-primary: 'Italiana'; // should be --primary
$font-secondary: 'Agdasima';
$font-tertiary: 'Italiana';

$color-primary: #f37916; // --primary
$color-blue: #18e8eb; // --blue
$color-blue-dark: #2f80ed; // --blue-dark
$color--white: #fff;
$color--black: #000;
$color--gray: #ccc;
$color--gray-dark: #999;
$color-line: #bfeafa;
$color--red: #eb5757;

$error-color: #ff0000b9;

$bg-color: #6aa4d63f;
$bg-white: #f5f5f5;
$bg-blue: #bfeafa;
$bg-gray: #f5f5f5;

$primary-rgb-gradient-color: linear-gradient(
    90deg,
    rgba(238, 204, 81, 1),
    rgba(32, 60, 88, 1)
);

$secondary-rgb-gradient-color: linear-gradient(
    180deg,
    #d06814 0%,
    #ffcdb2 100%
);
$secondary-color: linear-gradient(to right, #d06814, #ffcdb2);
