$font-primary: 'Italiana';
$font-secondary: 'Agdasima';
$font-tertiary: 'Italiana';

$primary-rgb-gradient-color: linear-gradient(
    90deg,
    rgba(238, 204, 81, 1),
    rgba(32, 60, 88, 1)
);

$secondary-rgb-gradient-color: linear-gradient(90deg, #d06814, #ffcdb2);

$secondary-color: linear-gradient(to right, #d06814, #ffcdb2);
