$font-primary: 'Italiana'; // should be --primary
$font-secondary: 'Agdasima';
$font-tertiary: 'Italiana';

$color-primary: #f37916; // --primary
$color-blue: #18e8eb; // --blue
$color--white: #fff;
$color--black: #000;
$color--gray: #ccc;
$error-color: #ff0000b9;

$bg-color: #6aa4d63f;

$primary-rgb-gradient-color: linear-gradient(
    90deg,
    rgba(238, 204, 81, 1),
    rgba(32, 60, 88, 1)
);

$secondary-rgb-gradient-color: linear-gradient(
    180deg,
    #d06814 0%,
    #ffcdb2 100%
);
$secondary-color: linear-gradient(to right, #d06814, #ffcdb2);
