@use 'variables';

.auth-layout {
    display: grid;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1.1fr;
    font-family: variables.$font-primary;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        position: relative;
    }

    &__left-side {
         //background-image: url('https://wallpapers.com/images/hd/travel-background-we1aqvt6zacj99uk.jpg');
        background-image: url(../images/bg-panigation.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__right-side {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        transition: 1s;
    }

    &__wave {
        height: 100%;
        position: absolute;
        left: -24%;
        z-index: 1;
        scale: 1.2;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
    }
}

@media (max-width: 1025px) {
    .auth-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        &__left-side {
            display: none;
        }
        &__wave {
            display: none;
        }
    }
}
