.auth-layout {
    display: grid;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1.1fr;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left-side {
        background-image: url('https://wallpapers.com/images/hd/travel-background-we1aqvt6zacj99uk.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__right-side {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        transition: 1s;
    }

    &__wave {
        position: absolute;
        left: -24%;
        z-index: 1;
    }
}
