@use 'variables' as *;

.router-link-active {
    color: $color--black;
    text-decoration: underline;
}

.header {
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: $secondary-color;
    z-index: 2;
}

.scroll-to-top {
    position: fixed;
    z-index: 30;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: $color-primary;
    color: white;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 20px 0;
    max-width: 90%;
    margin: 0 auto;

    .logo img {
        width: 100%;
        height: 60px;
        object-fit: cover;
    }
}

.list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    &-item {
        padding: 0 25px;
        cursor: pointer;
        &:hover > .list__link {
            color: $color--white;
            text-decoration: underline;
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        font-family: $font-primary;
        font-size: 25px;
        font-weight: 700;
        color: $color--black;
        cursor: pointer;
        transition: all 0.3s;
        padding: 20px 0;
    }
    .tour {
        position: relative;
    }
    &_link-option {
        position: absolute;
        width: 150px;
        height: fit-content;
        list-style-type: none;
        border: 1px solid #000;
        background: $color--white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        font-size: 20px;
        padding: 5px 10px;
    }
    &_link-option-item {
        padding: 10px 0;
        cursor: pointer;
        &:hover {
            color: $color-primary;
        }
    }
}

.options {
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        cursor: pointer;
    }
    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url('../images/user_avatar/bing_chilling.png');
        background-size: cover;
    }

    .avatar_user {
        background: url('../images/user_avatar/bing_chilling.png');
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 999px;
        border: 1px solid $color--black;
    }
}

// .logo {
//     height: 300px;

//     &__box {
//         width: 256px;
//         height: 188px;
//         border-radius: 0px 0px 999px 999px;
//         border: 0px solid #000;
//         background: linear-gradient(180deg, #d06814 0%, #ffcdb2 96.56%);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-left: 90px;
//     }

//     &__image {
//         margin-bottom: 40px;
//     }
// }
