@import 'variables';

.container-slide {
    position: relative;
    display: flex;
    transition: 1s all;
    overflow: hidden;
    transition: 1s all;
}

.logo {
    height: 300px;

    &__box {
        width: 256px;
        height: 188px;
        border-radius: 0px 0px 999px 999px;
        border: 0px solid #000;
        background: linear-gradient(180deg, #d06814 0%, #ffcdb2 96.56%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
    }

    &__image {
        margin-bottom: 40px;
    }
}

.slide {
    position: relative;
    background-image: url('../images/slide1.jpg');
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 102px 0 150px;
    font-family: $font-secondary;
    flex: 0 0 100%;
    min-width: 100%;

    &__left {
        width: 523px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        background: $secondary-rgb-gradient-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
        line-height: normal;
    }

    &__sub-heading {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        color: #000;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__description {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        color: #000;
        line-height: normal;
        margin-bottom: 30px;
        text-align: justify;
    }

    &__button {
        width: 250px;
        text-transform: uppercase;
        background: $color-primary;
        border-radius: 999px;
        padding: 15px 30px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    &__right {
        margin-top: 95px;
        margin-left: 100px;
        position: relative;
    }

    &__box {
        width: 400px;
        height: 500px;
        border-radius: 200px;
        border: 20px solid #fff;
    }

    &__box2 {
        width: 369px;
        height: 447px;
        position: absolute;
        top: 30%;
        right: 5%;
    }

    &__image {
        width: 434px;
        height: 531px;
    }

    &__pagination {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__number {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 999px;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease;
    }

    &__number:not(:last-child)::after {
        content: '';
        height: 5px;
        width: 20px;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-primary;
    }

    &__number-text {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
}

.tour-tips {
    margin-top: 150px;
    font-family: $font-secondary;

    &__heading,
    &__sub-heading {
        text-transform: uppercase;
        text-align: center;
    }

    &__heading {
        color: #f37916;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__sub-heading {
        text-align: center;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #000 0%, #666 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__list {
        margin-bottom: 100px;
    }

    &__box {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        height: 350px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    &__image {
        position: absolute;
        top: 0;
        width: 551px;
        height: 100%;
        border-radius: 20px;
        opacity: 0;

        &--right {
            right: 0;
        }

        &--left {
            left: 0;
        }
    }

    &__content {
        display: grid;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 230px;
        width: 550px;
        border-radius: 20px;
        border: 5px solid #f37916;
        background: url('../images//slide1.jpg') lightgray 50% / cover no-repeat;
        padding: 14px 20px 27px 20px;
        opacity: 0;

        &--right {
            right: 0;
        }

        &--left {
            left: 0;
        }
    }

    &__title-box {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $color-primary;
    }

    &__subtitle {
        color: #000;
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__description {
        color: #000;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        width: 164px;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background: $color-primary;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
        cursor: pointer;
    }

    &__footer-text {
        margin-top: 10px;
        text-align: center;
        color: #000;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}

.ticket {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 50px 0;
    margin: 50px 0 500px 0;
    background: linear-gradient(to top, #f0bb84 43.08%, #e89a48 79.34%);
    font-family: $font-secondary;
    position: relative;

    &__background {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &__item {
        background-color: #fff;
        border-radius: 40px;
    }

    &__image {
        width: 429px;
        height: 292px;
        border-radius: 30px;
    }

    &__content {
        padding: 33px 0 0 12px;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        padding: 10px 0 40px 0;
        position: relative;
    }

    &__information {
        display: grid;
        gap: 18px;
    }

    &__info-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__text {
        color: #000;
    }

    &__line {
        background: #000;
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        height: 100%;
        width: 1px;
    }

    &__price {
        width: 165px;
        height: 105px;
        margin-right: 60px;
    }

    &__price-text {
        color: #000;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    &__button-box {
        margin: 20px 30px;
    }

    &__button {
        width: 100%;
        padding: 10px 0;
        border-radius: 50px;
        border: 0px solid #000;
        background: $color-primary;
        cursor: pointer;
        color: #fff;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}
